<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal text-white">Popoi k verhu ↑</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="/friends">Friends</a>
            <a class="p-2 text-white" href="/users">Users</a>
        </nav>
        <a class="btn btn-outline-light">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit">Log out</button>
            </form>
        </a>
    </div>

    <div>
        <form method="post" action="/blog">
            <input type="text" name="tag" placeholder="tag" />
            <input type="text" name="text" placeholder="text" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Add post</button>
        </form>
    </div>

    <div>
        <form method="post" action="/blog/filter">
            <input type="text" name="filter" placeholder="filter" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Filter</button>
        </form>
    </div>

    <div>
        <form method="post" action="/blog/clear">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">RemovePosts</button>
        </form>
    </div>

    <div>
        {{#posts}}
        <div>
            <span><b>{{tag}}</b> : {{creationTime}}</span>
            <p>{{text}}</p>
            <hr>
        </div>
        {{/posts}}
    </div>




    <footer class="mastfoot mt-auto d-flex mx-auto">
        <div class="inner">
            <p>Made by  <a href="https://github.com/makolpaschikov" target="_blank">Maxim Kolpaschchikov</a></p>
        </div>
    </footer>
</div>

</body>
</html>