<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post creating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            text-align: center;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">Popoi k verhu ↑</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <button id="logout" class="btn btn-link"  type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container pt-5 mt-5"><div class="mt-5 pt-5"><div class="mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post" action="/blog/post_create">
                    <div class="form-label-group">
                        <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" name="text" placeholder="Text">
                    </div>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <button class="btn btn-sm btn-outline-primary btn-block mt-1" type="submit"><b>Publish</b></button>
                </form>
            </div>
        </div>
    </div></div></div>
</main>

<div class="footer">
    <p>Made by <a href="https://github.com/makolpaschikov" target="_blank">Maxim Kolpaschikov</a></p>
</div>

</body>
</html>