<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestTitle</title>
</head>
<body>
    <div>
        <form method="post" action="/test">
            <input type="text" name="tag" placeholder="tag" />
            <input type="text" name="text" placeholder="text" />
            <button type="submit">Add post</button>
        </form>
    </div>

    <div>
        <form method="post" action="/test/filter">
            <input type="text" name="filter" placeholder="filter" />
            <button type="submit">Filter</button>
        </form>
    </div>

    <div>
        <form method="post" action="/test/clear">
            <button type="submit">RemovePosts</button>
        </form>
    </div>

    <h4> Posts: </h4>
    <div>
        {{#posts}}
        <div>
            <h4>{{tag}} : {{creationTime}}</h4>
            <span>{{text}}</span>
            <hr>
        </div>
        {{/posts}}
    </div>
</body>
</html>