<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WinterBlog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
        .footer {
            position: fixed;
            bottom: 0;
            width: 80%;
            left: 0;
            text-align: center;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">Popoi k verhu ↑</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">LogIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signin">SignIn</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h3 class="display-4">Your personal blog</h3>
            <p>Here you can share thoughts, emotions and stories with your friends, as well as subscribe to their own blogs.</p>
        </div>
    </div>
</main>

<div class="footer">
    <p>Made by <a href="https://github.com/makolpaschikov" target="_blank">Maxim Kolpaschikov</a></p>
</div>

</body>
</html>