<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>WinterBlog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal text-white">Popoi k verhu ↑</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="/test">Test</a>
            <a class="p-2 text-white" href="#">My blog</a>
            <a class="p-2 text-white" href="/friends">Friends</a>
            <a class="p-2 text-white" href="/users">Users</a>
        </nav>
        <a class="btn btn-outline-light" href="/login">Log in</a>
    </div>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Your personal blog</h1>
                <p class="lead text-muted">Here you can share thoughts, emotions and stories with your friends, as well as subscribe to their own blogs.</p>
            </div>
        </section>
    </main>

    <footer class="mastfoot mt-auto d-flex mx-auto">
        <div class="inner">
            <p>Made by  <a href="https://github.com/makolpaschikov" target="_blank">Maxim Kolpaschchikov</a></p>
        </div>
    </footer>
</div>

</body>
</html>