<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
</head>
<body>

<div>
    <form method="post" action="/signin">
        <div><label>Username: <input type="text" name="username"/></label></div>
        <div><label>Password: <input type="password" name="password"/></label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><button type="submit">SignIn"</button></div>
    </form>
    <div>
        {{#warning}}
            {{warning}}
        {{/warning}}
    </div>
</div>


</body>
</html>